footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width: 100%;
    /*Set the fixed height of the footer here*/
    height: 40px;

}

#date {
    margin: .4rem 0;
  }

/* designe du tableau pour les utilisateurs */
table, caption, th, td {

    border: 2px solid skyblue;
      border-collapse: collapse;
    
    }
    caption, th, td {
    caption-side: top;
    padding: 8px;
    
    }