/* designe du bouton */
.button {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

/* designe du tableau pour les utilisateurs */
table, caption, th, td {

  border: 2px solid skyblue;
    border-collapse: collapse;
  
  }
  caption, th, td {
  caption-side: top;
  padding: 8px;
  font-family : "Snell Roundhand", "cursive"; 
  /* font-weight: bold; */
  
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width: 100%;
    /*Set the fixed height of the footer here*/
    height: 40px;
}
  
