.shopping-item {
    border: 1px solid #ddd;
    float: right;
    font-size: 18px;
    margin-top: 15px;
    padding: 10px;
    position: relative;
}
.site-branding-area{
	margin-bottom: 20px;
}
.shopping-item a {
    color: #666;
}
.cart-amunt {
    color: #1abc9c;
    font-weight: 700;
}

.product-count {
    background: none repeat scroll 0 0 #1abc9c;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}